<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="/components/nav/nav.css">
    <link rel="stylesheet" href="/public/css/contacto.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>

<body>

  <header></header>

  <main>
    <div class="contenedor-contacto">
      <div class="contenedor-form">

        <form action="" method="post">
          <h1 class="titulo-contactame">Contáctame</h1>
          <div class="input-box">
            <input type="text" class="input" id="nombre" name="nombre" placeholder="Ingresa tu nombre" required>
            <i class='bx bxs-user'></i>
          </div>
          <div class="input-box">
            <input type="email" class="input" id="email" name="email" placeholder="Ingresa tu email" required>
            <i class='bx bxs-envelope'></i>
          </div>
          <div class="input-box">
            <textarea id="mensaje" name="mensaje" placeholder="Escribe un mensaje aquí" required></textarea>
          </div>
          <div class="btn-container">
            <button type="submit" class="btn">Enviar</button>
          </div>
        </form>

      </div>
    </div>
  </main>

  <footer></footer>

  <script src="/js/funcionalidad.js"></script>

</body>
</html>

