<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <link rel="stylesheet" href="/components/nav/nav.css">
    <link rel="stylesheet" href="/public/css/proyectos.css">
</head>

<body>

  <header></header>

  <main>
    <div class="contenedor-proyectos">
      <h1 class="titulo-proyectos">Proyectos</h1>
      <p class="texto-usuario">Desliza el cursor sobre cada tarjeta</p>

      <div class="contenedor-tarjetas">
        <section class="content-uno">
          <div class="card">
            <div class="img-holder" id="gelato"></div>
            <div class="card-content">
              <h2>Gelato y Postres</h2>
              <p>Desarrollo web</p>
              <a href="https://github.com/andresMorales1996/gelatoPostres.git">Conoce más</a>
            </div>
          </div>

          <div class="card">
            <div class="img-holder" id="eco"></div>
            <div class="card-content">
              <h2>EcoReciclaje</h2>
              <p>Desarrollo móvil</p>
              <a href="https://github.com/noelia333/EcoReciclaje.git">Conoce más</a>
            </div>
          </div>
        </section>

        <section class="content-dos">
          <div class="card">
            <div class="img-holder" id="login"></div>
            <div class="card-content">
              <h2>Login</h2>
              <p>Desarrollo móvil</p>
              <a href="https://github.com/noelia333/lab_persistencia_con_SQLite">Conoce más</a>
            </div>
          </div>

          <div class="card">
            <div class="img-holder" id="just"></div>
            <div class="card-content">
              <h2>Just One Click</h2>
              <p>Desarrollo web</p>
              <a href="https://github.com/noelia333/Laboratorio_Login_Signup_Forms_Codent2.0">Conoce más</a>
            </div>
          </div>
        </section>

        <section class="content-tres">
          <div class="card">
            <div class="img-holder" id="alura"></div>
            <div class="card-content">
              <h2>Encriptador</h2>
              <p>Desarrollo web</p>
              <a href="https://github.com/noelia333/desafio-alura-encriptador">Conoce más</a>
            </div>
          </div>

          <div class="card">
            <div class="img-holder" id="adobe"></div>
            <div class="card-content">
              <h2>El mejor colegio</h2>
              <p>Prototipo UI/UX</p>
              <a href="https://xd.adobe.com/view/1372a343-5653-486e-a478-08b53cf42690-4621/screen/84756456-148b-4f81-aedf-787c2676ca17">Conoce más</a>
            </div>
          </div>
        </section>

      </div>
    </div>
  </main>
  
  <footer></footer>

  <script src="/js/funcionalidad.js"></script>

</body>
</html>

