<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mi</title>
    <link rel="stylesheet" href="/components/nav/nav.css">
    <link rel="stylesheet" href="/public/css/sobreMi.css">
</head>

<body>

  <header></header>
  
  <main>
    <div class="contenedor-sobre-mi">
      <section class="contenedor-izquierda">
        <div class="contenedor-hola">
          <span style="--l: 'N';">N</span>
          <span style="--l: 'o';">o</span>
          <span style="--l: 'e';">e</span>
          <span style="--l: 'l';">l</span>
          <span style="--l: 'i';">i</span>
          <span style="--l: 'a';">a</span>
        </div>

        <div class="contenedor-tarjeta glow">
          <div class="face front">
            <img src="../public/img/imagen-noelia.png" alt="imagen-noelia">

          </div>
          <div class="face back">
            <img src="../public/img/astronauta.jpg" alt="imagen-astronauta">
          </div>
        </div>

        <div class="contenedor-cv">
          <a class="icono-flecha" href="https://drive.google.com/file/d/1S4AYAyqEmlHqc_FGYeFq4A7n0bTFtBIF/view?usp=sharing"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#30182E" d="M11 4v12.175l-5.6-5.6L4 12l8 8l8-8l-1.4-1.425l-5.6 5.6V4z"/></svg></a>
          <a class="texto-cv" href="https://drive.google.com/file/d/1S4AYAyqEmlHqc_FGYeFq4A7n0bTFtBIF/view?usp=sharing">Curriculum</a>
        </div>
        <p class="texto-indicacion">Desliza el cursor sobre mi foto y la palabra 'Noelia' para descubrir algo interesante</p>
      </section>

      <section class="contenedor-derecha">
        <p>Soy estudiante de décimo semestre de Ingeniería de Sistemas en la Universidad Piloto de Colombia y actualmente me estoy formando como Desarrolladora Full Stack Junior en  Generation Colombia. </p>
        <p>Mi historia en la programación comenzó en 2019, el día que inicié mi carrera universitaria. Desde ese primer día, me enamoré de este fascinante universo, maravillándome de cómo la tecnología puede dar vida a ideas que antes parecían imposibles. Lo que más me gusta de este mundo es su capacidad transformadora para mejorar la vida de las personas, automatizando tareas y facilitando nuestro día a día.</p>
        <p>Mi mayor inspiración en el desarrollo es la posibilidad de crear aplicaciones web y móviles que tengan un impacto positivo y significativo en la vida de las personas. Creo firmemente que la tecnología es una herramienta poderosa para el progreso y el bienestar de la sociedad, y estoy decidida a usar mis habilidades para contribuir a un futuro mejor.</p>
      </section>
    </div>
  </main>

  <footer></footer>

  <script src="/js/funcionalidad.js"></script>

</body>
</html>

