<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../footer/footer.css">
</head>

<body>

    <footer class="footer">
        <div class="content-git-hub-icono">
            <a href="https://github.com/noelia333?tab=repositories"><img src="/public/svg/github-icono.svg" alt="GitHub Icono"></a> 
        </div>

        <div class="content-git-hub-texto">
            <a href="https://github.com/noelia333?tab=repositories"><p>GitHub</p></a> 
        </div>

        <div class="content-copy">
            <p>&copy; 2024 Noelia Amaya. Todos los derechos reservados</p>
        </div>

        <div class="content-linkedin-icono">
            <a href="https://www.linkedin.com/in/noelia-amaya-b1b4722a3/"><img src="/public/svg/linkedin.svg" alt="LinkedIn Icono"></a> 
        </div>

        <div class="content-linkedin-texto">
            <a href="https://www.linkedin.com/in/noelia-amaya-b1b4722a3/"><p>LinkedIn</p></a> 
        </div>
    </footer>

</body>

</html>
